html {
    --cor-principal: rgb(0, 0, 0);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-destaque: rgb(255, 166, 0);
    list-style-type: none;
}

.navbar {
    border-bottom: solid 7px var(--cor-destaque)
}

.navbar-brand {
    font-size: 1.8em;
    border: solid 2px var(--cor-destaque);
    padding: 0.4em;
    border-radius: 10px;
    font-weight: 700;
}

    .navbar-brand:hover {
        box-shadow: 0 0 10px 1px var(--cor-destaque);
    }

.nav-items {
    font-size: 1.3em;
}

.nav-item:hover {
    font-weight: 600;
}

.img-top {
    border-bottom: solid 7px var(--cor-destaque)
}

.description {
    font-weight: bolder;
}

.img-gp1 {
    max-height: 70vh;
    border-radius: 30px;
}

.sub-gp1 {
    color: var(--cor-destaque);
}

.gp2 {
    border: solid 5px var(--cor-destaque);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px black;
}

footer {
    border-top: solid 5px var(--cor-destaque);
    border-bottom: solid 5px var(--cor-destaque);
}

.icon-btn {
    color: var(--cor-destaque);
    border-radius: 50px;
    border: solid 1px var(--cor-destaque)
}

.nav-footer {
    font-size: 1.5rem;
}

.nav-botton a {
    padding: 0 15px;
}

.copyright {
    color: var(--cor-destaque);
    font-weight: lighter;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.card-destinos {
    border-top: solid 5px var(--cor-destaque);
}

/* dasdasdasda */

.card {
    width: 95%;
    padding: 0px;
    margin-left: 2%
}

.card-title a {
    color: var(--cor-principal);
}

.card-footer {
    background-color: var(--cor-destaque);
    font-weight: 900;
    font-size: 1.3rem;
}

.price {
    color: var(--cor-destaque);
    font-weight: 600;
}
