@model AgenciaDeViagensRecodePro.Models.Passagem

@{
    ViewData["Title"] = "Create";
}

<h1>Passagem</h1>

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPartida" class="control-label"></label>
                <input asp-for="DataPartida" class="form-control" />
                <span asp-validation-for="DataPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataChegada" class="control-label"></label>
                <input asp-for="DataChegada" class="form-control" />
                <span asp-validation-for="DataChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalPartida" class="control-label"></label>
                <input asp-for="LocalPartida" class="form-control" />
                <span asp-validation-for="LocalPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalChegada" class="control-label"></label>
                <input asp-for="LocalChegada" class="form-control" />
                <span asp-validation-for="LocalChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
