<div>
    <h1 class="text-center mt-5 p-5">Praia? Cachoeira? Natureza? Seu próximo destino está aqui...</h1>
</div>

<div class="card-destinos mt-5 text-center">
    <h4 class="p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur inventore quis provident quas omnis? Dolorem quam error corporis omnis labore illo as?</h4>
    <div class="container my-2">
        <div class="row">
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/12.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-destinos mt-5 text-center">
    <h4 class="p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur inventore quis provident quas omnis? Dolorem quam error corporis omnis labore illo as?</h4>
    <div class="container my-2">
        <div class="row">
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/12.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-destinos mt-5 text-center mb-5">
    <h4 class="p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minima in odit itaque quia! Facilis necessitatibus facere, provident dicta asperiores ut, quibusdam voluptatem voluptatum omnis, saepe dolores? Impedit, in commodi.</h4>
    <div class="container my-2">
        <div class="row">
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/12.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-text">
                            Destino</h1>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
