
<div>
    <img src="~/img/bg-cabecalho.jpg" class="img-fluid mb-3 img-top" alt="...">
</div>
<div class="gp1 mt-5 px-5">
    <div class="row description">
        <div class="col-lg-8 p-5">
            <h3 class="text-center">
                Ô mundão! A sua agência de viagens!</h4>
                <h5 class="text-center sub-gp1 p-1">
                    Escolha seu próximo destino e lhe proporcionaremos a melhor experiência.
                </h5>
                <p class="text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus expedita deserunt
                    quidem molestiae
                    voluptates voluptas, accusamus magnam fugit aliquid ad, ut dolores. Veniam, ex consequuntur? Odit id
                    similique quis harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit doloremque saepe at.
                    Suscipit voluptates animi expedita maiores ratione hic corporis obcaecati, voluptas iure blanditiis
                    consequatur repellendus at omnis consequuntur quidem?Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Illo dolore perferendis, odit laborum iste dicta suscipit repellendus, consectetur assumenda nemo nisi
                    magni rerum blanditiis nostrum repellat doloremque delectus id officiis!
                </p>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="~/img/101.jpg" class="img-fluid img-gp1" alt="">
            </div>
        </div>

        <div class="container p-3 text-center gp2 mt-5 bg-dark text-white">
            <h1>Seu próximo destino esta aqui...</h1>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mt-5 card-wrapper">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/10.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-text">
                                Destino</h3>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 card-wrapper">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/11.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-text">
                                Destino</h3>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 card-wrapper">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/12.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-text">
                                Destino</h3>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        @*@{
                ViewData["Title"] = "Home Page";
            }

            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>*@
