
<div class="m-5 text-center">
    <h2>O verão chegou e as nossas promoções chegaram junto!</h2>
    <h1>Aproveite!</h1>
</div>
<div class="row mt-5">

    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/10.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1200,00 por:</p>
                <div class="card-footer">
                    <p>R$ 600,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/11.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $800,00 por:</p>
                <div class="card-footer">
                    <p>R$ 400,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/12.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1000,00 por:</p>
                <div class="card-footer">
                    <p>R$ 500,00</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/10.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1200,00 por:</p>
                <div class="card-footer">
                    <p>R$ 600,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/11.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $800,00 por:</p>
                <div class="card-footer">
                    <p>R$ 400,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/12.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1000,00 por:</p>
                <div class="card-footer">
                    <p>R$ 500,00</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/10.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1200,00 por:</p>
                <div class="card-footer">
                    <p>R$ 600,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/11.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $800,00 por:</p>
                <div class="card-footer">
                    <p>R$ 400,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <img class="card-img-top" src="/img/12.jpg" alt="Cachoeira">
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><a href="">Promoção!</a></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae </p>
                <p class="price">De $1000,00 por:</p>
                <div class="card-footer">
                    <p>R$ 500,00</p>
                </div>
            </div>
        </div>
    </div>
</div>